$light-color: #ffe8d6;
$font-stack: Arial, Helvetica, sans-serif;
$main-color: #f0f0d0;
// $main-color: #23231e;
$secondary-color: #ee9b00;

@function set-text-color($color) {
    @if(lightness($color) > 70){
        @return black;
    } @else {
        @return white; 
    }
}

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
}

$spaces: (1, 2, 3, 4, 5);

@each $space in $spaces {
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    .p-#{$space} {
        padding: #{$space}rem;
        };
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}